@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;

  font-family: "Open Sans", sans-serif;
}

.monacoInlineDecorationYellow {
  background-color: yellow;
}

/* ----- MARKER ----- */

.monacoInlineDecorationMarkerCurrent-False {
  background-color: rgb(226, 0, 0) !important;
}
.monacoInlineDecorationMarker-False {
  background-color: rgb(255, 109, 109) !important;
}

.monacoInlineDecorationMarkerCurrent-True {
  background-color: rgb(91, 214, 91) !important;
}
.monacoInlineDecorationMarker-True {
  background-color: rgb(204, 247, 204) !important;
}

.monacoInlineDecorationMarkerCurrent-Breakpoint {
  background-color: rgb(255, 155, 155) !important;
}

.monacoInlineDecorationMarkerCurrent-AssertError {
  background-color: rgb(226, 0, 0) !important;
}

/* ----- END MARKER ----- */

.noFocus:focus {
  outline: none !important;
}

.bp4-overlay-content {
  z-index: 100 !important;
}

.myGlyphMarginClass {
  background: red;
  border-radius: 50%;

  /* TODO: Dont use fixed pixels here */
  width: 8px !important;
  height: 8px !important;
  left: 5.5px !important;
  top: 5.5px;
}

@media only screen and (min-width: 601px) {
  .displayOnlySmall {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .displayOnlyLarge {
    display: none !important;
  }
}
