@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;

  font-family: "Open Sans", sans-serif;
}

.monacoInlineDecorationYellow {
  background-color: yellow;
}

.monacoInlineDecorationRed {
  background-color: rgb(226, 0, 0) !important;
}

.monacoInlineDecorationLightRed {
  background-color: rgb(255, 109, 109) !important;
}

.monacoInlineDecorationGreen {
  background-color: rgb(91, 214, 91) !important;
}

.monacoInlineDecorationLightGreen {
  background-color: rgb(204, 247, 204) !important;
}

.noFocus:focus {
  outline: none !important;
}

.bp4-overlay-content {
  z-index: 100 !important;
}

.myGlyphMarginClass {
  background: red;
  border-radius: 50%;

  /* TODO: Dont use fixed pixels here */
  width: 8px !important;
  height: 8px !important;
  left: 5.5px !important;
  top: 5.5px;
}
